@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100;200;300;500&family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100&display=swap');

body{
    /* font-family: 'Poppins', sans-serif;
    font-family: 'Big Shoulders Text', cursive; */
    font-family: 'Oleo Script Swash Caps', cursive;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/880/199/803/flag-south-africa-wallpaper-preview.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #00F5D4;
 }

.container{
    padding: 1.5rem;
}

.container div {
    float: left;
}

.left{
    margin-right: 3rem;
}

img{
    border: 8px solid red;
    border-radius: 5px;
}

.right{
    font-size: 18px;
}

.right p{
    line-height: 2rem;
}

li{
    margin-bottom: 1.5rem;
}

h2, h1{
    color: red;
    font-family: 'Big Shoulders Text', cursive;
    font-weight: 800;
    word-spacing: 4px;
}

h2{
    font-size: 30px;
}

a{
    color: red;
}

#quote{
    font-size: 18px;
    text-align: justify;
    width: 300px;
}